
/* Game Container */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  width: 100%;
  /* padding: 20px; */
  /* box-sizing: border-box; */
}

/* Headers */
.game h1 {
  font-size: 2.5rem;
  margin: 5px;
  text-align: center;
}

.game h2 {
  font-size: 1.5rem;
  margin: 5px;
  text-align: center;
}

/* Players Container */
.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

/* Player Card */
.Gameplayer {
  margin-top: 10px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #016105;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Gameplayer:hover {
  /* transform: scale(1.05); */
}
.otherplayers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherplayers h3 {
  font-size: 1.5rem;
  margin: 5px;
}

/* Market */
.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.usemarket {
  height: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.usemarket:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.usemarket:hover:not(:disabled) {
  transform: scale(1.1);
}

/* Game Space */
.gameSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.playedCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.card {
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.me {
  display: flex;
  flex-wrap: wrap;
  height: 430px;
  overflow-y: auto;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .game h1 {
    font-size: 2rem;
  }

  .game h2 {
    font-size: 1.3rem;
  }

  .Gameplayer {
    flex: 1 1 250px;
  }

  .card, .usemarket {
    height: 130px;
  }
}

@media (max-width: 768px) {
  .game h1 {
    font-size: 1.8rem;
  }

  .game h2 {
    font-size: 1.2rem;
  }

  .Gameplayer {
    flex: 1 1 200px;
  }


  .card, .usemarket {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .game h1 {
    font-size: 1.5rem;
  }

  .game h2 {
    font-size: 1rem;
  }

  .Gameplayer {
    flex: 1 1 150px;
  }

  .me {
    height: 290px;
  }

  .card, .usemarket {
    height: 70px;
  }
}

@media (max-width: 320px) {
  .game h1 {
    font-size: 1.2rem;
  }

  .game h2 {
    font-size: 0.8rem;
  }

  .Gameplayer {
    flex: 1 1 100px;
  }

  .card, .usemarket {
    height: 70px;
  }
}
