.transactionsPage {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transactionContent {
  width: 100%;
  /* height: 100%; */
  overflow-x: auto;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 20px;
}

.transactionsPage button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.transactionsPage button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.transactionsPage button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}
