.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}
.homeContent {
  align-items: center;
  justify-content: center;
  
  /* padding: 20px; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
}
.landing {
  text-align: center;
}
.landing h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
.landing button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #fff;
  color: #008307;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.landing button:hover {
  background-color: #008307;
  color: #fff;
}