.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./bg.jpeg"); /* Uncomment if you have a background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}
.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.7);
  padding: 2rem;
}
.loginForm {
  width: 100%;
  max-width: 400px; /* Maximum width of the form */
  margin: 0 auto; /* Center the form */
}
.loginFormContent {
  display: flex;
  flex-direction: column;
}
.loginFormContent button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008307;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.loginFormContent button:hover {
  background-color: #005c04;
  color: #fff;
}
.login h1 {
  color: #fff;
}
.login label {
  color: #fff;
}
.loginForm p {
  margin-top: 10px;
  color: #fff;
}
.loginForm p a {
  color: #008307;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
.loginForm p a:hover {
  text-decoration: underline;
}